table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .comision_table {
    width: 100vw;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-overflow: scroll;
  }